*.o
*.so
*.blend1
*.blend2
*.blend3
*.blend4
*.pyc
*_pycache_
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
_static/
_templates/
*.png.map
documentation/build/
assets/
engine/*
*~
project/avalon.terrain
